.main-page{
    display: flex;
    height:100%;
    box-sizing: border-box;
}

.left{
    flex: 1;
    background-color: red;
    .bg-images{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.right{
    width:  30%;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    .title{
        font-size: 20px;
        font-weight: bold;
        color:  #2d2d2d;
    }
}