.home-page-wrapper{
    padding-top: 20px;
    .create-wrapper {
        padding-top: 10px;
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        
    }
    .content-wrapper{
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .pagination{
        width: 400px;
        display: flex;
        padding-bottom: 30px;
        margin: auto;
    }
}

