.inputWrapper{
    .label {
    font-size: 16px;
    color: #2d2d2d;
    margin: 0px;
    margin-bottom: 6px;
    }

.input {
    border: 1px solid gray;
    padding: 12px;
    border-radius: none;
    width: 100%;
    box-sizing: border-box;
    }
}
    
    