.button-wrapper {
    width: 100%;
    .button{
        padding: 12px;
        font-size: 16px;
        background-color: #87c73c;
        width: 100%;
        box-sizing: content-box;
        border-radius: 12px;
        border: none;
        color: white;  
        text-transform: uppercase;
        cursor: pointer;
        padding-right: 0px;
    }

}

