.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #67b35c;
    padding: 10px 50px;
    .logo{
        display: flex;
        width: 60px;
        height: 50px;
        object-fit: contain;
        margin: auto;
    }

    .social-wrapper{
        display: flex;
        .icon-wrapper{
            padding: 2%;
            border-radius: 100%;
            margin: 0px 10px;
    
            .icon-medsoc{
                width: 30px;
                height: 30px;
                object-fit: contain;
                cursor: pointer;
            }
        }
    }

}

.copyright{
    background-color: #569e4b;
    padding: 1px 0px;
    p{
        font-size: 14px;
        text-align: center;
        color: white;
        margin: 0 px;   
    }
}